.sub-tab__form {
    height: 19rem;
    margin: 4rem 0 6.5rem;
}

.sub-tab__form ul {
    margin-bottom: 4rem;
}

.common-table-style thead th:first-child,
.common-table-style thead th:nth-child(2) {
    width: 17%;
}

#access-log-area td:nth-child(3) {
    text-align: left;
}